<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="YN">
		<meta name="description" content="Simple Colab navigator.">
		<title>Simple Colab navigator.</title>
		<link rel="icon" href="https://milligram.github.io/images/icon.png">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
		<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
		<link rel="stylesheet" href="https://milligram.github.io/styles/main.css">
	</head>
	<body>

		<main class="wrapper">

			<nav class="navigation">
				<section class="container">
					<a class="navigation-title" href="#">						
						<h1 class="title">Home</h1>
					</a>
				</section>
			</nav>

			<section class="container" id="notebook">
				<h5 class="title">Your Google Disk <a href="https://colab.research.google.com/">Colaboratory</a> notebooks</h5>
				
                <table>
                  <thead>
                    <tr>
                      <th>Notebook name</th>
                      <th>Link to open at Google Colaboratory</th>
                      <th>Modified time</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for n in notebooks %}
                    <tr>
                      <td>{{n.name}}</td>
                      <td><a target="_blank" href="https://colab.research.google.com/drive/{{n.id}}">{{n.id}}</a></td>
                      <td>{{n.modifiedTime}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>                
			</section>



			<footer class="footer">
				<section class="container">
					<p>Designed with ♥ by <a target="_blank" href="http://cjpatoilo.com" title="CJ Patoilo">CJ Patoilo</a>. CSS from <a target="_blank" href="https://github.com/milligram/milligram#license" title="Milligram">Milligram</a>.</p>
				</section>
			</footer>

		</main>

		<script src="https://milligram.github.io/scripts/main.js"></script>

	</body>
</html>
